.form-container {
    width: 40%;
    /* max-width: 600px; */
    margin: 30px auto;
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(138, 52, 52, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
   
}


.formhead{
    font-weight: 800;
    font-size :.8cm;
  color: rgb(128, 102, 80);
border-bottom: groove;
}
.form-center{
    display:flex;
    justify-content: center;
}
label {
display:inline-block;
    margin-bottom: 5px;
}
.regsternamehead{
    margin-bottom: 20px;
}

/* input[type="text"],
input[type="number"],
textarea,
select { */
    input[type="text"],textarea
    {width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;}
label{
    padding-bottom: 10px;
    font-weight: 500;
}
input[type="radio"] {
margin: 10px;
}
textarea{
    margin-top: 10px;
}
.valicolor{
    color: red;
}
.interestdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: baseline;
}
.insterestaddbutton{
 margin-right: 10px;

}
.addinterestbutton{
    background-color: #8d9279; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5PX;
    cursor: default;
}
.dateach{
    border-radius: 5px;
}